$path = "5e56c978-80c2-4369-aafb-037cab7dda93"

$installed = Get-Item -Path $path | 
ForEach-Object { Get-ItemProperty $_.PSPath } | 
Select-Object -Property DisplayName, DisplayVersion, UninstallString

ForEach ($app in $installed) {
    Write-Output "$($app.DisplayName)"
    $UninstallString = $($app.UninstallString)
    Write-Output "$UninstallString"
    & "C:\Windows\SYSTEM32\cmd.exe" /c "$UninstallString /qn /passive /norestart"
}
